@{
    ViewData["Title"] = "Home";
}

<h1>Hotel App</h1>

<ul>
    <li><a href="/Client">Manage Clients</a></li>
    <li><a href="/Hotel">Manage Hotels</a></li>
    <li><a href="/HotelBooking">Manage Bookings</a></li>
</ul>
